@import 'tailwindcss';

@theme {
  --font-reddit: 'Reddit Sans', sans-serif;

  --spacing-0: 0px;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;

  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;

  --color-neutral-0: #ffffff;
  --color-neutral-200: #cbcdd0;
  --color-neutral-300: #9393b7;
  --color-neutral-600: #57577b;
  --color-neutral-900: #12114d;

  --color-blue-100: #e0e6fa;
  --color-blue-200: #c7d3f7;
  --color-blue-300: #89caff;
  --color-blue-600: #4865db;
  --color-blue-700: #2a4cd5;

  --color-red-300: #ffb9b9;
  --color-red-700: #e60013;

  --color-indigo-200: #b8b1ff;

  --color-green-300: #89e780;

  --color-amber-300: #ffc97c;
}

.preset-1 {
  font-size: 52px;
  line-height: 140%;
  letter-spacing: -0.02em;
}
.preset-1-mobile {
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -0.02em;
}
.preset-2 {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.3px;
}
.preset-2-mobile {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.3px;
}
.preset-3 {
  font-size: 32px;
  line-height: 140%;
  letter-spacing: -0.3px;
}
.preset-3-mobile {
  font-size: 28px;
  line-height: 130%;
  letter-spacing: -0.3px;
}
.preset-4,
.preset-4-regular {
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0px;
}
.preset-5 {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0px;
}
.preset-6 {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0px;
}
.preset-6-italic {
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0px;
  font-style: italic;
}
.preset-7 {
  font-size: 15px;
  line-height: 140%;
  letter-spacing: -0.3px;
}
.preset-8 {
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0px;
}
.preset-9 {
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0px;
}

.bg-gradient-light {
  background-image: linear-gradient(180deg, #f5f5ff 72.99%, #e0e0ff 100%);
}

@layer components {
  .layout-grid {
    display: grid;
    gap: theme('spacing.600');
    grid-template-columns: 1fr;
    grid-template-areas:
      'greeting'
      'cards'
      'chart';
  }

  @media (min-width: 1024px) {
    .layout-grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        'greeting greeting greeting'
        'cards chart chart';
    }
  }

  .area-greeting {
    grid-area: greeting;
  }
  .area-cards {
    grid-area: cards;
  }
  .area-chart {
    grid-area: chart;
  }
}
