/* [next]/internal/font/google/reddit_sans_688a7c29.module.css [app-client] (css) */
@font-face {
  font-family: Reddit Sans;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../media/EYq1maFOxq1T__ETdN7EKQNuS5u33lFHSpuJpA-s.11f0195f.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Reddit Sans;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../media/EYq1maFOxq1T__ETdN7EKQNuS5q33lFHSpuJpA-s.fdc9d873.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Reddit Sans;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../media/EYq1maFOxq1T__ETdN7EKQNuS5S33lFHSps-s.p.0e77b78b.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Reddit Sans;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../media/EYq1maFOxq1T__ETdN7EKQNuS5u33lFHSpuJpA-s.11f0195f.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Reddit Sans;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../media/EYq1maFOxq1T__ETdN7EKQNuS5q33lFHSpuJpA-s.fdc9d873.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Reddit Sans;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../media/EYq1maFOxq1T__ETdN7EKQNuS5S33lFHSps-s.p.0e77b78b.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Reddit Sans;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../media/EYq1maFOxq1T__ETdN7EKQNuS5u33lFHSpuJpA-s.11f0195f.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Reddit Sans;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../media/EYq1maFOxq1T__ETdN7EKQNuS5q33lFHSpuJpA-s.fdc9d873.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Reddit Sans;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../media/EYq1maFOxq1T__ETdN7EKQNuS5S33lFHSps-s.p.0e77b78b.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Reddit Sans;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../media/EYq1maFOxq1T__ETdN7EKQNuS5u33lFHSpuJpA-s.11f0195f.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Reddit Sans;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../media/EYq1maFOxq1T__ETdN7EKQNuS5q33lFHSpuJpA-s.fdc9d873.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Reddit Sans;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../media/EYq1maFOxq1T__ETdN7EKQNuS5S33lFHSps-s.p.0e77b78b.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Reddit Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/EYq3maFOxq1T__ETdN7EKQNke5a92XNFepo-s.22f5e7aa.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Reddit Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/EYq3maFOxq1T__ETdN7EKQNle5a92XNFepo-s.4955d42d.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Reddit Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/EYq3maFOxq1T__ETdN7EKQNre5a92XNF-s.p.c1b04cc9.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Reddit Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/EYq3maFOxq1T__ETdN7EKQNke5a92XNFepo-s.22f5e7aa.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Reddit Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/EYq3maFOxq1T__ETdN7EKQNle5a92XNFepo-s.4955d42d.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Reddit Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/EYq3maFOxq1T__ETdN7EKQNre5a92XNF-s.p.c1b04cc9.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Reddit Sans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/EYq3maFOxq1T__ETdN7EKQNke5a92XNFepo-s.22f5e7aa.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Reddit Sans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/EYq3maFOxq1T__ETdN7EKQNle5a92XNFepo-s.4955d42d.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Reddit Sans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/EYq3maFOxq1T__ETdN7EKQNre5a92XNF-s.p.c1b04cc9.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Reddit Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/EYq3maFOxq1T__ETdN7EKQNke5a92XNFepo-s.22f5e7aa.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Reddit Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/EYq3maFOxq1T__ETdN7EKQNle5a92XNFepo-s.4955d42d.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Reddit Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/EYq3maFOxq1T__ETdN7EKQNre5a92XNF-s.p.c1b04cc9.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Reddit Sans Fallback;
  src: local(Arial);
  ascent-override: 100.43%;
  descent-override: 28.75%;
  line-gap-override: 0.0%;
  size-adjust: 100.55%;
}

.reddit_sans_688a7c29-module__KDbT9G__className {
  font-family: Reddit Sans, Reddit Sans Fallback;
}

.reddit_sans_688a7c29-module__KDbT9G__variable {
  --font-reddit: "Reddit Sans", "Reddit Sans Fallback";
}

/*# sourceMappingURL=%5Bnext%5D_internal_font_google_reddit_sans_688a7c29_module_css_f9ee138c._.single.css.map*/